<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quoting Dojo</title>
    </head>
    <body>
        <h1>Welcome to QuotingDojo</h1>



        <form action="/quotes" method="post">
            Your Name: <input type="text" name = "name" placeholder="Name"><br>
            Your Quote: <br><textarea name="quote" id="quote" cols="30" rows="10"></textarea><br>
            <input type="submit" value="Add my quote" id= "add">
        </form>
        <a href = "/skip"> Skip to Quotes! </a>


    </body>
</html>
