<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Counter</title>
        <!-- <link rel="stylesheet" href="./static/stylesheet.css"/> -->
    </head>
    <body>
        <h1> Counter </h1>
        <p><%= count %> times</p>

        <a href= "/click" ><input type="button" value="+2 Button"></a><br>
        <a href= "/reset" ><input type="button" value="Reset"></a>
    </body>
</html>
