<div>
<h1>{{title}}</h1>

<form (submit) = "getScore()" #formData = "ngForm">
  <h2>GitHub Username: <input type="text" name= "username" required [(ngModel)] = "username" #user= "ngModel"></h2><br>
  <input type="submit" value= "Calculate My GitHub Score" [disabled] = !formData.valid>
</form>

<h1>Your Score: {{score}}</h1><br>
  <h2 *ngIf= "score <20" [ngStyle]= "{'color': 'red'}">"Needs Work"</h2>
  <h2 *ngIf= "score <50 && score >= 20" [ngStyle]= "{'color': 'orange'}">"A decent start!"</h2>
  <h2 *ngIf= "score <100 && score >= 50" [ngStyle]= "{'color': 'black'}">"Doing good!"</h2>
  <h2 *ngIf= "score <200 && score >= 100" [ngStyle]= "{'color': 'green'}">"Great job!"</h2>
  <h2 *ngIf= "score >= 200" [ngStyle]= "{'color': 'blue'}">"Github Elite!"</h2>
</div>