<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mongoose Dashboard</title>
    </head>
    <body>
        <h1>Welcome to Mongoose Dashboard</h1>
        <table border =1>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <% for (var x in mongs){ %>
            <tr>
                <td><%= mongs[x].name %></td>
                <td>
                    <a href="/mongooses/edit/<%= mongs[x]._id %>"> Edit</a>
                    <a href="/mongooses/<%= mongs[x]._id %>"> Info</a>
                    <a href="/mongooses/destroy/<%= mongs[x]._id %>"> Delete</a>

                </td>
            </tr>

            <% } %>
        </table>

        <br>
        <a href= "/mongooses/new"> Click Here to create more mongoose </a>

    </body>
</html>
