<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mongoose Dashboard</title>
    </head>
    <body>

        <h1>Description of Your <%= mong[0].name %></h1>

        <%= mong[0].description %><br>
        _______________________________
        <p>Created At:<%= mong[0].createdAt %> </p>
        <p>Updated At:<%= mong[0].updatedAt %> </p><br>
        <br>
        <a href = "/"> Back </p

    </body>
</html>
