<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mongoose Dashboard</title>
    </head>
    <body>
        <h1>Create More Mongooses Here!</h1>
        <form action="/mongooses" method="post">
            Name: <input type="text" name="name"><br><br>
            Description: <br><textarea name="description" id="description" cols="30" rows="10"></textarea><br>
            <input type="submit" value= "Create New Mongoose">
        </form>

        <br>
        <a href="/"> Back </a>
    </body>
</html>
